@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@200&display=swap');
html,body{
    height:100%;
    width:100%;
    font-family: 'Playpen Sans', cursive;
}
.button{
    padding:20px;
    width:66px;
    margin:0px 3px;
    border:2px solid black;
    border-radius:10px;
    cursor:pointer;
}
.row{
    margin: 8px 0;
}
.row input{
    font-size:20px;
    width:284px;
    margin:0;
    padding:6px 14px;
    border:2px solid black;
    border-radius: 9px;
}